<div class="footer">
  <div class="footer-links">
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Rainy Days
  </div>
</div>
