<div class="home-banner">
  <h1>Rainy Days</h1>
  <div>
    <div style="margin-top: 50px">
      <p>Home comforts to brighten up your day</p>
    </div>
  </div>
  <div style= "margin-top: 150px">
    <%= link_to "Take a look", products_path, class: "btn-white" %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
