<div class="home-banner">
  <h1>Rainy Days</h1>
  <div style= "margin-top: 200px">
    <%= link_to "Take a look", "#", class: "btn-white" %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
