<div class="home-banner">
  <h1>Rainy Days</h1>
  <div>
    <div style="margin-top: 50px">
      <p>Home comforts to brighten up your day</p>
    </div>
  </div>
  <div style= "margin-top: 150px">
    <%= link_to "Take a look", products_path, class: "btn-white" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530006498959-b7884e829a04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80)">
        Pottery
      </div>
    </div>

    <div class="col-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1481761396213-faabe1c28a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80)">
        Furniture
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1546512636-aa323a4d8a8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2736&q=80)">
        Decorations
      </div>
    </div>

    <div class="col-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'pigs.JPG' %>)">
        Pinehurst Farm
      </div>
    </div>
  </div>
</div>

