.btn-white {
  text-decoration: none;
  color: #eee;
  border: 1px solid #eee;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 170px;
  box-shadow: 0 2px 14px rgba(126,87,88,0.1), 0 3px 6px rgba(0,0,0,0.08);
  &:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease;
    text-decoration: none;
  }
}


